ui {
  pane_frames {
    rounded_corners true
    hide_session_name true
  }
}

layout {
  tab_template name="default_tab" {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
  }

  default_tab name="Tab 1" focus=true {
    pane split_direction="vertical" {
      pane
      pane
    }
  }

  default_tab name="Tab 2" {
    pane split_direction="vertical" {
      pane
      pane
    }
  }
}
