ui {
  pane_frames {
    rounded_corners true
    hide_session_name true
  }
}

layout {
  tab_template name="default_tab" {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
  }

  default_tab name="btop" {
    pane command="btop"
  }

  default_tab name="shell" focus=true {
    pane
  }
}
