.mac {
  font-family: "Menlo", monospace !important;
}

.quick-input-widget {
  background-color: color-mix(
    in srgb,
    var(--vscode-quickInput-background) 75%,
    transparent 25%
  ) !important;
  top: 50% !important;
  translate: 0 -300px !important;

  /* hack -- dark background overlay */
  outline: 9999px solid rgba(0, 0, 0, 0.5) !important;

  backdrop-filter: blur(9px) !important;
  padding: 5px !important;
  border-radius: 10px !important;

  transition-property: all;
  transition-duration: 0.13333s;
  transition-behavior: allow-discrete;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* REMOVE THESE IF YOU DON'T WANT THE BRIGHTNESS AND ZOOM EFFECTS */

  filter: brightness(1.5);
  zoom: 1.25;

  /* --- */

  @starting-style {
    opacity: 0;
  }

  &[style*="display: none"] {
    opacity: 0;
    transition-duration: 0.13333s;
    transition-timing-function: ease-out;
  }
}

.quick-input-list .monaco-list-rows {
  background: transparent !important;
}
